@if (data.length) {
    <table>
        <thead>
          <tr>
            @for (column of columns(); track column) {
                <th>{{ column }}</th>
            }
          </tr>
        </thead>
        <tbody>
            @for (row of paginatedData(); track row) {
                <tr>
                    @for (column of columns(); track column) {
                        <td>{{ row[ column ] }}</td>
                    }
                    <td *appRoleOnly="allRoles.ADMIN">
                          <!-- <button (click)="onEdit(row)">Edit</button> -->
                          <button (click)="onDelete(row)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
      </table>
    
      <div class="pagination-controls">
        <select (change)="onPageSizeChange($event)">
            @for (size of [10, 20, 50]; track size) {
                <option [value]="size" [selected]="size === pageSize()">{{ size }} items per page</option>
            }
        </select>
    
        @for (page of totalPages | rangePipe: 1; track page) {
            <button
                (click)="goToPage(page - 1)"
                [class.active]="pageIndex() === page - 1"
            >
                {{ page }}
            </button>
        }
      </div>
} @else {
    <p>No data available.</p>
}
