<div class="dashboard">
    <header>
      <h1>Dashboard</h1>
      <select (change)="onDataSelectionChange($event)">
        <option value="product">Productos</option>
        <option value="company">Compañías</option>
      </select>
    </header>
  
    <section class="widgets">
    <div class="card">
      <app-counter [count]="countValue()"></app-counter>
    </div>
    @if (isAdmin()) {
      <div class="card">
        <app-doughnut-chart [data]="chartData()"></app-doughnut-chart>
      </div>
    }
    </section>
  
    <!-- <app-data-table [data]="filteredData"></app-data-table>  -->
</div>
  