<aside>
    <figure>
        <img src="/assets/images/logoQBi-negative.png" alt="Logo">
    </figure>
    <nav>
        <div class="top-container">
            <a routerLink="/portal/instructions">Instructions</a>
            <a routerLink="/portal/dashboard">Dashboard</a>
            <a *appRoleOnly="allRoles.ADMIN" routerLink="/portal/admin">Admin</a>
        </div>

        
        <div class="bottom-container">
            <a routerLink="/login">Logout</a>
        </div>
    </nav>
</aside>
<main>
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</main>