:host {
    --aside-width: 180px;
    --logo-height: 80px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--aside-width);
    background-color: var(--color-primary);

    figure {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--logo-height);

        img {
            width: 80px;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        height: calc(100% - var(--logo-height));
        width: 100%;

        .bottom-container {
            margin-top: auto;
        }

        a {
            display: inline-block;
            width: 100%;
            color: var(--color-neutral-1);
            background-color: var(--color-primary-alt);
            padding: var(--spacing-s);
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s;

            &:active {
                background-color: var(--color-secondary);
            }
        }
    }
}

main {
    margin-left: var(--aside-width);
    width: calc(100% - var(--aside-width));

    .main-container {
        position: relative;
        padding: var(--spacing-l);
    }
}