<div class="admin-page">
    <h1>Admin Settings</h1>
  
    <div class="setting">
      <h2>Pagination</h2>
      <label for="pageSize">Items per page:</label>
      <select id="pageSize" (change)="setPageSize($event)">
        <option *ngFor="let size of pageSizeOptions" [value]="size" [selected]="size === settings().selectedPageSize">
          {{ size }}
        </option>
      </select>
    </div>
  
    <div class="setting">
      <h2>Column Visibility</h2>
      <h3>Products</h3>
      <div *ngFor="let column of settings().productColumnSettings">
        <label>
            <input
                type="checkbox"
                [checked]="column.visible"
                (change)="toggleColumnVisibility(column, settings().productColumnSettings || [])"
                [disabled]="isColumnDisabled(column, settings().productColumnSettings || [])"
            />
          {{ column.name }}
        </label>
      </div>
  
      <h3>Companies</h3>
      <div *ngFor="let column of settings().companyColumnSettings">
        <label>
            <input
                type="checkbox"
                [checked]="column.visible"
                (change)="toggleColumnVisibility(column, settings().productColumnSettings || [])"
                [disabled]="isColumnDisabled(column, settings().productColumnSettings || [])"
            />
          {{ column.name }}
        </label>
      </div>
    </div>
  
    <div class="setting">
      <h2>Currency</h2>
      <label *ngFor="let currency of currencyOptions">
        <input
          type="radio"
          [checked]="settings().currency === currency"
          (change)="setCurrency(currency)"
        />
        {{ currency }}
      </label>
    </div>
  
    <button (click)="saveSettings()">Save Settings</button>
</div>
